<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wli.wliresumeservicescms.mapper.ISkillMapper">

    <resultMap type="com.wli.wliresumeservicescms.model.skill.SkillEntity" id="dicBaseMap">
        <id property="id" column="id"/>
        <!-- 定义普通属性 -->
        <result property="creTime" column="cre_time"/>
        <result property="updTime" column="upd_time"/>
        <result property="creUser" column="cre_user"/>
        <result property="updUser" column="upd_user"/>
        <result property="content" column="content"/>
        <result property="px" column="px"/>
    </resultMap>

    <select id="getSkills"
            resultType="com.wli.wliresumeservicescms.model.skill.SkillEntity">
     select * from skill order by px
    </select>

    <update id="updSkill">

    </update>

    <delete id="delSkill">

    </delete>

    <insert id="addSkill">


    </insert>

</mapper>